 ul{
    justify-content: space-evenly;
}
.nav-color{
    color:blue
}
.review{
    margin: 5px;
    margin-bottom: 28px;
    border-bottom: 1px solid #dee2e6;
}
.fa-star{
    color: #20ade7
}
.header{
    margin-bottom: 0.5rem!important;
    margin-top: 1.5rem!important;
}
.fa{
    cursor: pointer;
}